# Python
__pycache__/
*.pyc
.venv/
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Datasets
datasets/
data/raw/

# Model weights
weights/
*.pt
*.pth
*.h5
*.ckpt

# Training outputs
runs/
results/
logs/
reports/

# Temporary
.ipynb_checkpoints/
